SQLpdf/build/
SQLpdf/nbproject/private/
SQLpdf/dist/
/Imagenes SQL/BaseImagen/build/
/Imagenes SQL/BaseImagen/nbproject/private/
/Imagenes SQL/BaseImagen/dist/
/Imagenes SQL/SQLImagen/dist/
/Imagenes SQL/SQLImagen/nbproject/private/
/Imagenes SQL/SQLImagen/build/
/Imagenes SQL/Fotos/build/
/Imagenes SQL/Fotos/nbproject/private/
/Imagenes SQL/Fotos/dist/
/Imagenes SQL/Guardar y Leer Imagenes en Mysql/build/
/Imagenes SQL/Guardar y Leer Imagenes en Mysql/dist/
/Imagenes SQL/Guardar y Leer Imagenes en Mysql/nbproject/private/
/Imagenes SQL/Imager/build/
/Imagenes SQL/Imager/nbproject/private/
/Imagenes SQL/Imager/dist/
/Imagenes SQL/Proyecto_JP/build/
/Imagenes SQL/Proyecto_JP/nbproject/private/
/Imagenes SQL/Proyecto_JP/dist/
/Imagenes SQL/abarrotes/build/
/Imagenes SQL/abarrotes/nbproject/private/
/Imagenes SQL/abarrotes/dist/
/BarradeProcceso/nbproject/private/
/BarradeProcceso/build/
/BarradeProcceso/dist/
/jtable/nbproject/private/
/jtable/build/
/jtable/dist/
/BarraProceso/build/
/BarraProceso/nbproject/private/
/BarraProceso/dist/
/Calcular fechas final/build/
/Calcular fechas final/nbproject/private/
/Calcular fechas final/dist/
/Calcular fechas/build/
/Calcular fechas/nbproject/private/
/Calcular fechas/dist/
