SQLpdf/build/
SQLpdf/nbproject/private/
SQLpdf/dist/
Imagenes SQL/BaseImagen/build/
Imagenes SQL/BaseImagen/nbproject/private/
Imagenes SQL/BaseImagen/dist/
Imagenes SQL/SQLImagen/dist/
Imagenes SQL/SQLImagen/nbproject/private/
Imagenes SQL/SQLImagen/build/
